div.screenChooserWrapper.screenChooser
	div.tui-component.screen-selector-pointer
	div.filler
	- for (var i = 0; i < apps.length ; i++ )
		div(class="screen approtator-item " + apps[i].apptag, 'data-appname'="#{apps[i].apptag}", 'data-sequence'=i)
	div.filler
