div
	div.rotator-circle.init
	- for (var i = 0; i < apps.length ; i++ )
		div.approtator-item('data-appname'="#{apps[i].apptag}")
			h3 #{apps[i].name}
			img(src='#{apps[i].icon}', alt='#{apps[i].name} icon')
