div.tui-mosaic.list-container(style="width:"+ w, data-appid=id)
	- for (var i = 0; i < things.length; i++ )
		div.item.larger(data-sequence=i)
			div.imgcont
				img(src=things[i].icon)
			span.title!= things[i].name
