div.tui-mosaic.list-container(style="width:"+ w, data-appid=id)
	- for (var i = 0; i < things.length; i++ )
		div.item.regular(data-sequence=i)
			div.imgcont
				img(src=things[i].thumbnail)
			span.title!= things[i].publishName
			- if (things[i].settings())
				ul.channel-settings-icons
					- if (things[i].isLocked)
						li.icon.locked
					- if (things[i].isBookmarked)
						li.icon.bookmarked
					- if (things[i].personalRecordingOptions.canRecord) 
						li.icon.recordable
