div.tui-multiscreen.sendSMS
	div.sendSmsHolder
		div.smsReceiver To:
		input.receiver(type="text", name="sendSms")
		div.phoneBook
			img.phoneDictionary(src="app/imgs/phoneBook.png")
		div.messageName Message:
		div.message(onclick="this.contentEditable='true'")
		div.sendBtn Send
		div.clearBtn Clear
