div.tui-multiscreen.telephonyChooser
	div.icon
		div.callCenterC
		span Call Center
	div.icon
		div.callHistoryC
		span Call History
	div.icon
		div.voiceMailC		
		span Voice Mail
	div.icon
		div.sendSMSC
		span SMS Center
	div.icon
		div.phonebookC
		span Phonebook
