div.tui-multiscreen.phonebookWrapper
	div.phonebookHeader
		div.name Name
		div.general General
		div.ip IP
	div.phoneBookResults
		-if (typeof things === 'object')
			- for (var i = 0; i < things.length; i++ )
				div.phonebookItem(data-sequence=i)
					div.name!= things[i].name
					div.general!= things[i].phone
					div.ip!= things[i].ip
		- else 
			div.system-info.no-phonebook-entries
