.screenChooserWrapper {
	width: 130px;
	position: absolute;
	top: 0;
	right: 0;
}
.screenChooser {
	z-index: 1000;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 40px 0 0;
}
.screenChooser .screen {
	width: 155px;
	height: 90px;
	text-align: left;
}
.screenChooser .screen.iptv {
	background-image: url('app/imgs/icon_set.png');
	background-position: right -4px;
	background-repeat: no-repeat;
}
.screenChooser .screen.ppv {
	background-image: url('app/imgs/icon_set.png');
	background-position: right -104px;
	background-repeat: no-repeat;
}
.screenChooser .screen.vod {
	background-image: url('app/imgs/icon_set.png');
	background-position: right -205px;
	background-repeat: no-repeat;
}
.screenChooser .screen.uvideo {
	background-image: url('app/imgs/icon_set.png');
	background-position: right -307px;
	background-repeat: no-repeat;
}
.screenChooser .screen.radio {
	background-image: url('app/imgs/icon_set.png');
	background-position: right -407px;
	background-repeat: no-repeat;
}
.screenChooser .screen.aod {
	background-image: url('app/imgs/icon_set.png');
	background-position: right -507px;
	background-repeat: no-repeat;
}
.screenChooser .screen.uaudio {
	background-image: url('app/imgs/icon_set.png');
	background-position: right -609px;
	background-repeat: no-repeat;
}
.screenChooser .screen.settings {
	background-image: url('app/imgs/icon_set.png');
	background-position: right -707px;
	background-repeat: no-repeat;

}
.screenChooser .screen.games {
	background-image: url('app/imgs/icon_set.png');
	background-position: right -808px;
	background-repeat: no-repeat;
}
.screenChooser .screen.phone {
	background-image: url('app/imgs/icon_set.png');
	background-position: right -908px;
	background-repeat: no-repeat;
}
.screenChooser .screen.weather {
	background-image: url('app/imgs/icon_set.png');
	background-position: right -1110px;
	background-repeat: no-repeat;
}

.screen-selector-pointer {
    background-image: url("app/imgs/icon_set.png");
    background-position: left -997px;
    background-repeat: no-repeat;
    height: 113px;
    position: fixed;
    right: 12px;
    top: 167px;
    width: 143px;
    z-index: 2000;
}
