.epgwrapper {
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	
	display: -moz-box;
	-moz-box-pack: start;
	-moz-box-align: center;
	display: -webkit-box;
	-webkit-box-pack: start;
	-webkit-box-align: center;
	display: box;
	box-pack: start;
	box-align: center;
	vertical-align: middle;
}

@media all and (min-width: 1281px) {
	.epg {
		font-size: 20px;
	}
	.epg .header .channelTitle {
		width: 75%;
	}
}

@media all and (min-width: 701px) and (max-width: 1280px) {
	.epg {
		font-size: 16px;
	}
	.epg .header .channelTitle {
		width: 68%;
	}
}

@media all and (max-width: 700px) {
	.epg {
		font-size: 11px;
	}
	.epg .header .channelTitle {
		width: 60%;
	}
}

.epg {
	width: 100%;
	height: 100%;
	color: white;
	background-color: #272b33;
}
.epg .active {
	background-color: #595b69;
}
.epg .header {
	width: 100%;
	height: 110px;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
}
.epg .header .screenImg {
	width: 130px;
	height: 110px;
	margin: 1px;
	float: left;
}
.epg .header .screenImg img {
	width: 130px;
	height: 110px;
}
.epg .header .channelTitle {
	display: inline-block;
	height: 110px;
	font-size: 200%;
	text-align: left;
	line-height: 110px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.epg .epgProgram {
	overflow-x: hidden;
	overflow-y: auto;
}
.epg .epgProgram .epgLoading {
	text-align: center;
}
.epg .epgProgram .epgItem {
	width: 100%;
	font-size: 100%;
	border-bottom: 2px solid #666666;
	padding: 8px;
	clear: both;
}
.epg .epgProgram .epgItem .epgItemTime {
	width: 12%;
	font-size: 100%;
	padding: 5px;
	display: inline-block;
}
.epg .epgProgram .epgItem .epgItemTitle {
	display: inline-block;
	font-size: 110%;
	margin-left: 15px;
    width: 78%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 6px;
}
