.tui-mosaic.list-container {
	margin: 10px auto 10px auto;
	position: relative;
	/*if we  really need the height...*/
	overflow: auto;
	top: 0;
}
/*html.browser .tui-mosaic.list-container {
	-webkit-transition-property: top;
	-webkit-transition-duration: 0.8s;
}*/
.tui-mosaic .item.regular {
    width: 150px;
    height: 130px;
}
.tui-mosaic .item.larger {
	width: 210px;
	height: 190px;
}
.tui-mosaic .item {
	/* do not use - attributes to +1/+2 px in positioning (offsetTop)
    display: inline-block;
    */
    float: left;
    text-align: center;
   	padding: 5px 5px 5px 5px;
	position: relative;
}
.tui-mosaic .larger .imgcont {
	width: 200px;
	height: 160px;
}
.tui-mosaic .regular .imgcont{
	width: 140px;
	height: 100px;
}
.tui-mosaic .imgcont {
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 1.2s;
	-moz-transition-property: background-color;
	-moz-transition-duration: 1.2s;
	background-color: gray;
	/* border: 1px solid gray; */
	-moz-box-shadow: inset 0 0 8px #d9d9d9;
	-webkit-box-shadow: inset 0 0 8px #D9D9D9;
	box-shadow: inset 0 0 8px #d9d9d9;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	float: left;
	margin-left: 5px;
}
.tui-mosaic .item.regular   img {
    width: 130px;
    height: 90px;
}
.tui-mosaic .item.larger img {
	width: 190px;
	height: 150px;
}
.tui-mosaic .item img {
	border-radius: 3px;
    padding: 5px;
    /*display: block;
    margin: auto auto 2px auto;
    */
}
.tui-mosaic .title {
	float:left; 
	text-align:center;
	display:block;
	width: 100%;
	overflow: hidden;
/*	white-space: nowrap;
	text-overflow: ellipsis;*/
	height: 33px;
}

.tui-mosaic .icon {
	background-position: center center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	background-color: rgba(0, 0, 0, 0.3);
	margin-bottom: 1px;
}

.tui-mosaic ul.channel-settings-icons {
	margin: 0;
	padding:0; 
	list-style-type:none;
	position: absolute;
	top: 3px;
	left: 9px;	
}
.tui-mosaic div.object-index {
	background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    padding: 2px 4px;
    position: absolute;
    right: 10px;
    top: 5px;
}
.tui-mosaic .item.current .imgcont {
    /*background-color: #e10303;
    -webkit-transition-property: background-color;
	-webkit-transition-duration: 0.1s; *//*
	background-image: linear-gradient(bottom, rgb(135,15,15) 1%, rgb(237,12,12) 18%, rgb(230,23,23) 41%, rgb(173,38,38) 97%);
	background-image: -o-linear-gradient(bottom, rgb(135,15,15) 1%, rgb(237,12,12) 18%, rgb(230,23,23) 41%, rgb(173,38,38) 97%);
	background-image: -moz-linear-gradient(bottom, rgb(135,15,15) 1%, rgb(237,12,12) 18%, rgb(230,23,23) 41%, rgb(173,38,38) 97%);
	background-image: -webkit-linear-gradient(bottom, rgb(135,15,15) 1%, rgb(237,12,12) 18%, rgb(230,23,23) 41%, rgb(173,38,38) 97%);
	background-image: -ms-linear-gradient(bottom, rgb(135,15,15) 1%, rgb(237,12,12) 18%, rgb(230,23,23) 41%, rgb(173,38,38) 97%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.01, rgb(135,15,15)),
		color-stop(0.18, rgb(237,12,12)),
		color-stop(0.41, rgb(230,23,23)),
		color-stop(0.97, rgb(173,38,38))
	);*/
	background-image: linear-gradient(bottom, rgb(214,114,26) 10%, rgb(158,82,24) 19%, rgb(250,108,13) 87%);
	background-image: -o-linear-gradient(bottom, rgb(214,114,26) 10%, rgb(158,82,24) 19%, rgb(250,108,13) 87%);
	background-image: -moz-linear-gradient(bottom, rgb(214,114,26) 10%, rgb(158,82,24) 19%, rgb(250,108,13) 87%);
	background-image: -webkit-linear-gradient(bottom, rgb(214,114,26) 10%, rgb(158,82,24) 19%, rgb(250,108,13) 87%);
	background-image: -ms-linear-gradient(bottom, rgb(214,114,26) 10%, rgb(158,82,24) 19%, rgb(250,108,13) 87%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.1, rgb(214,114,26)),
		color-stop(0.19, rgb(158,82,24)),
		color-stop(0.87, rgb(250,108,13))
	);
}
.tui-mosaic .item.current span {
    color: #ffc4c4;
}
.tui-mosaic .icon.locked {
	background-image: url('imgs/icon_lock.png');
}
.tui-mosaic .icon.bookmarked {
	background-image: url('imgs/icon_favorite.png');
}
.tui-mosaic .icon.recordable {
	background-image: url('imgs/icon_recording.png');
}

.item .imgcont .screen_default_icon_size {
	width: 130px; 
	height: 90px;
	margin: 5px;
}
div[data-appid="iptv"] .item .default_icon {
	background-image: url('app/imgs/icon_set.png');
	background-position: center -3px;
}
div[data-appid="ppv"] .item .default_icon {
	background-image: url('app/imgs/icon_set.png');
	background-position: center -104px;
}
div[data-appid="vod"] .item .default_icon {
	background-image: url('app/imgs/icon_set.png');
	background-position: center -205px;
}
div[data-appid="uvideo"] .item .default_icon {
	background-image: url('app/imgs/icon_set.png');
	background-position: center -306px;
}
div[data-appid="radio"] .item .default_icon {
	background-image: url('app/imgs/icon_set.png');
	background-position: center -407px;
}
div[data-appid="aod"] .item .default_icon {
	background-image: url('app/imgs/icon_set.png');
	background-position: center -508px;
}

