/* reset css*/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
html { 
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

body { 
	margin: 0; 
	font-size: 13px; 
	line-height: 1.231; 
}



button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

#maincontainer {
	-moz-transform: scale(1);
/*	-moz-transition-property: -moz-transform;*/
/*	-moz-transition-duration: 0.5s;*/
	box-shadow: none;
	-webkit-transform: scale(1);
/*	-webkit-transition-property: -webkit-transform, box-shadow;*/
/*	-webkit-transition-duration: 0.5s, 1s;*/
}
html.browser #maincontainer.scaled {
	box-shadow: inset 0 0 15px 10px white;
}
html.m55 #maincontainer.scaled {
	border: 10px solid white;
	z-index: 10;
}
.tui-horizontal-centered {
	text-align: center;
}
.tui-multiscreen {
	margin: 0 auto;
}
.tui-scrollable-vertical {
	overflow-y: scroll;
	overflow-x: hidden;
}
/*FIXME: make games fit the screen for m55*/
.game-layer {
	position: absolute;
	top: 20px;
	left: 20px;	
}
