.topPannel_icons .iptv-title {
	background-image: url('app/imgs/screen_panel_titles.png');
	background-position: left 0px;
	background-repeat:no-repeat;
	height: 100%;
	width: 530px;
	display:inline-block;
}
.topPannel_icons .ppv-title {
	background-image: url('app/imgs/screen_panel_titles.png');
	background-position: left -60px;
	background-repeat:no-repeat;
	height: 100%;
	width: 530px;
	display:inline-block;
}
.topPannel_icons .vod-title {
	background-image: url('app/imgs/screen_panel_titles.png');
	background-position: left -120px;
	background-repeat:no-repeat;
	height: 100%;
	width: 530px;
	display:inline-block;
}
.topPannel_icons .uvideo-title {
	background-image: url('app/imgs/screen_panel_titles.png');
	background-position: left -180px;
	background-repeat:no-repeat;
	height: 100%;
	width: 530px;
	display:inline-block;
}
.topPannel_icons .radio-title {
	background-image: url('app/imgs/screen_panel_titles.png');
	background-position: left -240px;
	background-repeat:no-repeat;
	height: 100%;
	width: 530px;
	display:inline-block;
}
.topPannel_icons .uaudio-title {
	background-image: url('app/imgs/screen_panel_titles.png');
	background-position: left -300px;
	background-repeat:no-repeat;
	height: 100%;
	width: 530px;
	display:inline-block;
}
.topPannel_icons .aod-title {
	background-image: url('app/imgs/screen_panel_titles.png');
	background-position: left -360px;
	background-repeat:no-repeat;
	height: 100%;
	width: 530px;
	display:inline-block;
}
.topPannel_icons .settings-title {
	background-image: url('app/imgs/screen_panel_titles.png');
	background-position: left -420px;
	background-repeat:no-repeat;
	height: 100%;
	width: 530px;
	display:inline-block;
}
.topPannel_icons .games-title {
	background-image: url('app/imgs/screen_panel_titles.png');
	background-position: left -480px;
	background-repeat:no-repeat;
	height: 100%;
	width: 530px;
	display:inline-block;
}
.topPannel_icons .phone-title {
	background-image: url('app/imgs/screen_panel_titles.png');
	background-position: left -540px;
	background-repeat:no-repeat;
	height: 100%;
	width: 530px;
	display:inline-block;
}
